{% extends "base.html" %}

{% load static %}

{% block title %} my page {% endblock %} 


{% block css_files %}

<link rel="stylesheet" href="{% static "blog/index.css" %}" >

{% endblock  %}

{% block content %}

<header id="main-navigation">
  <h1><a href="">Reja's Blog</a></h1>
  <nav>
    <a href=""> All Posts </a>
  </nav>
</header>

<section id="welcome">
  <header>
    <img src="" alt="reja- the author of this blog" />
    <h2>SalahUddin's Blogs</h2>
  </header>
  <p>
    Hi my name is Salahuddin(reja) and I love to do blog about the tech and the
    world!!!!!!!!!!!
  </p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    <li>
      <article class="post">
        <a href="">
          <img src="" alt="Mountain hiking" />
          <div class="post__content">
            <h3>Mountain Hiking</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil
              aliquid, expedita quo reiciendis maiores obcaecati aspernatur eius
              cum iure voluptates.
            </p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

<section id="about">
  <h2>What I do!!!</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fugit quos?
    Dolore quidem earum facilis voluptate tempora porro assumenda ipsa!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fugit quos?
    Dolore quidem earum facilis voluptate tempora porro assumenda ipsa!
  </p>
</section>
{% endblock %}
